<div class="new-card">
    {% if new.pictures != Null or new.pictures == "" %}
        <a class="new-card-img" href="{% url 'url_post' cat_slug=new.category_en post_slug=new.url %}"><img
                src="{{ '/media/' }}{{ new.pictures }}"></a>
    {% endif %}
    <div class="new-card-text">
        <a class="new-card-category" href="{% url 'cat_name' cat_slug=new.category_en %}">
            <div>● {{ new.category }}</div>
        </a>
        <a class="new-card-title" href="{% url 'url_post' cat_slug=new.category_en post_slug=new.url %}">
            <div>{{ new.title }}</div>
        </a>
        <a class="new-card-description" href="{% url 'url_post' cat_slug=new.category_en post_slug=new.url %}">
            <div>{{ new.description }}</div>
        </a>
    </div>
</div>