{% block paginator-block %}
    {% if news.paginator.num_pages > 1 %}
        <br>
        <div class="pagination">
            <div class="pag-btns">
                <span class="next-links">
                    {% if news.has_previous %}
                        <ul>
                            <li class="first-last"><a href="?page=1&search={{ search_query }}">Первая</a></li>
                            <li class="page-num"><a href="?page={{ news.previous_page_number }}&search={{ search_query }}">&laquo;</a></li>
                        </ul>
                    {% endif %}
                </span>
                <span class="current-page">
                    <ul>
                        {% for p in news.paginator.page_range %}
                            {% if news.number == p %}
                                <span class="page-num-selected page-num">{{ p }}</span>
                            {% elif p >= news.number|add:-5 and p <= news.number|add:5  %}
                                <li class="page-num">
                                    <a href="?page={{ p }}&search={{ search_query }}">{{ p }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </span>
                <span class="next-links">
                    {% if news.has_next %}
                        <ul>
                            <li class="page-num"><a href="?page={{ news.next_page_number }}&search={{ search_query }}">&raquo;</a></li>
                            <li class="first-last"><a href="?page={{ news.paginator.num_pages }}&search={{ search_query }}">Последняя</a></li>
                        </ul>
                    {% endif %}
                </span>
            </div>
        </div>
        <br>
    {% endif %}
{% endblock %}