{% block search-form-static %}

    <form class="search" id="search-form" method="get"
          action="{% url 'search_results' filter_mode="relevance" filter_time="all-time" %}">
        <input type="text" class="searchText" id="search-input" placeholder="{{ search_query }}"
               name="search"
               autocomplete="off">
        <button class="btn-search-cancel" type="reset">
            <svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 12L12 1M1 1L12 12" stroke="#3982FF" stroke-width="1.7" stroke-linecap="round"></path>
            </svg>
        </button>
        <button class="btn-search-commit" type="submit">
            <svg width="44" height="44" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="22" cy="22" r="22" fill="#3982FF"></circle>
                <circle cx="21.3912" cy="21.3912" r="7.4622" stroke="white" stroke-width="1.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"></circle>
                <path d="M26.5813 26.9688L29.5069 29.8868" stroke="white" stroke-width="1.5" stroke-linecap="round"
                      stroke-linejoin="round"></path>
            </svg>
        </button>
    </form>

{% endblock %}