
{% for new in cat_news_list_1 %}
    <div class="new-card">
        {% if new.pictures != Null %}
            <a class="new-card-img" href="{% url 'url_post' cat_slug=new.category_en post_slug=new.url %}"><img src="{{ 'media/' }}{{ new.pictures }}"></a>
        {% endif %}
        <div class="new-card-text">
            <p class="new-card-pubdate" >{{ new.pubdate}}</p>
            <a class="new-card-category" href="{% url 'cat_name' cat_slug=new.category_en %}">● {{ new.category}}</a>
            <a class="new-card-title" href="{% url 'url_post' cat_slug=new.category_en post_slug=new.url %}"><div>{{ new.title }}</div></a>
            <a class="new-card-description" href="{% url 'url_post' cat_slug=new.category_en post_slug=new.url %}"><div>{{ new.description }}</div></a>
        </div>
    </div>
{% endfor %}
<div class="puzzle-right">
    <div class="next-card">
        {% for new_col in cat_news_list_2 %}
            <div class="next-new-card">
                <p>{{ new_col.pubdate }}</p>
                <a href="{% url 'url_post' cat_slug=new_col.category_en post_slug=new_col.url %}"><div>{{ new_col.title }}</div></a>
            </div>
        {% endfor %}
    </div>
</div>
