@mixin latest-news($cols, $main-bar-height, $main-bar-elements-height) {
  .mobile-latest {
    display: none;
  }
  $main-bar-elements-font-size: ($main-bar-elements-height*0.6);
  .latest {


    &-title {
      display: flex;

      p {
        font-family: grotesque;
        font-weight: 500;
        font-size: $main-bar-elements-font-size;
        line-height: $main-bar-elements-font-size;
        color: $dark-font-color;
        margin-bottom: $main-bar-elements-font-size/2;
      }
    }

    &-subtitle {
      font-family: lava;
      font-weight: 400;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      height: auto;
      color: $dark-font-color;
      font-size: $main-bar-elements-font-size*0.7;
      line-height: $main-bar-elements-font-size;
    }

    &-carousel {
      width: 100%;
      height: 75%;
      .puzzle-grid{
        width: 100%;
      }

      .flickity-page-dots {
        display: flex;
        width: 100%;
        padding-left: $main-bar-elements-font-size*10;
        top: -$main-bar-elements-font-size*1.5;
        height: $main-bar-elements-font-size;
        margin: 0;

        .dot {
          height: $main-bar-elements-font-size/2;
          width: $main-bar-elements-font-size/2;
          background: $main-color-light;
          margin-top: $main-bar-elements-font-size/4;
          margin-right: 5px;
          margin-left: 5px;
        }

        .dot.is-selected {
          background: $main-color;
        }
      }

      .gallery-cell {
        height: 100%;
        padding-right: 1%;
        padding-left: 1%;
        width: (100%/$cols);
        border-right: 1px solid $font-color-light;

        &:nth-child(#{ $news-in-carousel-large }n + 1) {
          padding-left: 0;
        }

        &:nth-child(#{ $news-in-carousel-large }n) {
          border-right: none;
          padding-right: 0;
        }

        p {
          font-family: grotesque;
          font-weight: 500;
          text-transform: uppercase;
          color: $font-color-light;
          font-size: $main-bar-elements-font-size*0.6;
        }

        @include lt-md() {
          padding-right: 1% !important;
          padding-left: 1% !important;
          border-right: 1px solid $font-color-light !important;
          &:nth-child(#{ $news-in-carousel-medium }n + 1) {
            padding-left: 0 !important;
          }
          &:nth-child(#{ $news-in-carousel-medium }n) {
            padding-right: 0 !important;
            border-right: none !important;
          }
        }

        @include lt-sm() {
          width: 100%;
          border-right: none;
          height: 100%;
          top: 0;
          padding: 0 0 $main-bar-elements-height/2 !important;
          border-bottom: 1px solid $font-color-light;
          border-right: none !important;
          border-bottom: 1px solid $font-color-light !important;
          p {
            display: block;
            margin: 0;
            font-family: grotesque;
            font-weight: 400;
            color: $font-color-light;
            font-size: $main-bar-elements-font-size*0.6;
            text-transform: uppercase;
            padding-top: $main-bar-elements-height/2;
            padding-bottom: $main-bar-elements-height/4;
          }
        }
      }
    }
  }
  @include lt-sm() {
    height: auto;
    .desktop-latest {
      display: none;
    }
    .mobile-latest {
      display: block;
    }
  }
}

@mixin news-cards($cols, $margin, $main-bar-height, $main-bar-elements-height) {
  $main-bar-elements-font-size: ($main-bar-elements-height*0.6);
  position: relative;
  float: left;
  background: $card-background-color;
  border-radius: $main-bar-height/5;
  margin: $margin/2;
  height: $main-bar-height*3;
  width: ((100%-($margin*$cols))/$cols);
  box-shadow: 0 0 $main-bar-elements-height/5 2px lighten($font-color-light, 10%);
  //@include lt-md() {
  //  height: $main-bar-height*2.5;
  //}

  img {
    display: block;
    position: absolute;
    height: 50%;
    border-top-left-radius: $main-bar-height/5;
    border-top-right-radius: $main-bar-height/5;
    width: 100%;
    object-fit: cover;
  }
  .new-card-text {
    height: 50%;
    top: 50%;
    position: absolute;
    padding: 5%;

    .new-card-pubdate {
      display: none;
    }

    .new-card-category {
      div {
        font-family: apparat;
        font-weight: 400;
        color: $main-color;
        font-size: $main-bar-elements-font-size*0.7;
        line-height: $main-bar-elements-font-size;
        height: auto;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
      }
    }

    .new-card-title {
      top: 10%;
      position: relative;
      padding-top: initial;
      bottom: initial;
      width: 100%;

      > div {
        width: 100%;
        color: $dark-font-color;
        font-family: apparat;
        font-weight: 400;
        line-height: $main-bar-elements-font-size;
        font-size: $main-bar-elements-font-size*0.7;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        height: auto;
      }

      color: $dark-font-color;
      font-size: $main-bar-elements-font-size*0.7;
      line-height: $main-bar-elements-font-size;
    }

    .new-card-description {
      display: none;
    }
  }
}

@mixin bluecard($main-bar-height, $main-bar-elements-height) {
  $main-bar-elements-font-size: ($main-bar-elements-height*0.6);
  background: linear-gradient(to left, $main-color, $main-color-light);
  //display: flex;
  img {
    display: none;
  }
  .new-card-text {
    top: 0;
    height: 100%;
    width: auto;
    position: relative;

    .new-card-category {
      div {
        font-family: apparat;
        font-weight: 400;
        color: $font-color;
        font-size: $main-bar-elements-font-size*0.7;
        line-height: $main-bar-elements-font-size;
        height: auto;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
      }
    }

    .new-card-title {
      top: 10%;

      > div {
        font-family: lava;
        font-weight: 500;
        font-size: $main-bar-elements-font-size;
        line-height: $main-bar-elements-font-size*1.4;
        color: $font-color;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        height: auto;
      }
    }

    .new-card-description {
      position: absolute;
      top: 50%;
      display: block;
      width: 90%;
      @include lt-sm() {
        top: 60%;
      }

      > div {
        font-family: apparat;
        font-weight: 400;
        font-size: $main-bar-elements-font-size*0.7;
        line-height: $main-bar-elements-font-size;
        color: $font-color;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        height: auto;
      }
    }
  }
}

@mixin news-column($main-bar-height, $main-bar-elements-height) {
  $main-bar-elements-font-size: ($main-bar-elements-height*0.6);
  position: absolute;
  right: 0;
  height: 90%;
  margin-top: 5px;
  width: ((100%-($margin-in-puzzle*($news-in-puzzle+1)))/($news-in-puzzle+1));
  @include lt-md() {
    width: ((100%-($margin-in-puzzle*($news-in-puzzle)))/($news-in-puzzle));
  }
  h4 {
    height: 5%;
  }
  .next-card {
    height: 95%;
    overflow: scroll;
    overflow-x: hidden;

    &::-webkit-scrollbar {
      display: none;
      width: ($main-bar-elements-font-size*0.2);

      &-track {
        background: lighten($font-color-light, 20%);
        border-radius: ($main-bar-elements-font-size*0.2);
      }

      &-thumb {
        background-color: lighten($font-color-light, 10%);
        border-radius: ($main-bar-elements-font-size*0.2);
      }
    }

    .next-new-card {
      height: auto;
      //margin-right: 5%;
      padding-top: $main-bar-height/7;
      padding-bottom: $main-bar-height/7;
      border-bottom: 1px solid $font-color-light;

      &:nth-child(1) {
        padding-top: 5px;
      }

      &:last-child {
        border-bottom: none;
      }

      p {
        font-family: grotesque;
        font-weight: 400;
        color: $font-color-light;
        font-size: $main-bar-elements-font-size*0.6;
        text-transform: uppercase;
        margin-bottom: $main-bar-height/7;
      }

      div {
        font-family: lava;
        font-weight: 400;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        height: auto;
        color: $dark-font-color;
        font-size: $main-bar-elements-font-size*0.7;
        line-height: $main-bar-elements-font-size;
      }
    }
  }
}

@mixin rand-post-card($main-bar-height, $main-bar-elements-height) {
  margin-left: 10%-$margin-in-puzzle/2;
  margin-right: 10%-$margin-in-puzzle/2;
  width: auto;
  @include lt-sm() {
    margin-left: 10%-$margin-in-puzzle-mobile/2;
    margin-right: 10%-$margin-in-puzzle-mobile/2;
    margin-bottom: $main-bar-height*0.8;
  }
  .rand-3-posts {
    .external-card {
      height: $main-bar-height*3;
      width: (100%/($news-in-puzzle+1));
      padding-left: $margin-in-puzzle/2;
      padding-right: $margin-in-puzzle/2;
      margin-top: $margin-in-puzzle/2;
      margin-bottom: $margin-in-puzzle/2;
      @include lt-md() {
        height: $main-bar-height*2.5;
        width: (100%/$news-in-puzzle);
      }
      @include lt-sm() {
        width: (100%/(($news-in-puzzle)-1));
        padding-left: $margin-in-puzzle-mobile/2;
        padding-right: $margin-in-puzzle-mobile/2;
      }

      .new-card {
        width: 100% !important;
        height: 100% !important;
        margin: 0 !important;
        padding: 0 !important;
        @include news-cards($news-in-puzzle+1, $margin-in-puzzle, $main-bar-height, $main-bar-elements-height);


        @include lt-md() {
          @include news-cards($news-in-puzzle, $margin-in-puzzle, $main-bar-height, $main-bar-elements-height);
        }
        @include lt-sm() {
          @include news-cards(($news-in-puzzle)-1, $margin-in-puzzle-mobile, $main-bar-height, $main-bar-elements-height);
        }

      }

      &:nth-child(even) {
        .new-card {
          @include bluecard($main-bar-height, $main-bar-elements-height);
          @include lt-sm() {
            @include news-cards(($news-in-puzzle)-1, $margin-in-puzzle-mobile, $main-bar-height, $main-bar-elements-height);
          }
        }
      }
    }

    .flickity-page-dots {
      .dot {
        background: $main-color-light;
      }

      .dot.is-selected {
        background: $main-color;
      }
    }
  }
}

@mixin bottom-menu($main-bar-height, $main-bar-elements-height) {
  $main-bar-elements-font-size: ($main-bar-elements-height*0.6);
  .bottom-menu {
    position: relative;
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    @include lt-sm() {
      display: block;
    }

    .bottom-left {
      padding-top: $main-bar-height/6;
      justify-content: space-between;
      border-top: solid $font-color-light 1px;
      width: 45%;
      margin-right: 5%;
      display: flex;
      @include lt-sm() {
        width: 100%;
        margin: 0;
      }

      ul {
        li {
          line-height: $main-bar-elements-font-size*0.8;
          margin-bottom: $main-bar-elements-font-size*0.5;

          p {
            font-family: grotesque;
            font-weight: 600;
            font-size: $main-bar-elements-font-size*0.5;
            line-height: $main-bar-elements-font-size*0.5;
            color: $dark-font-color;
            @include lt-sm() {
              font-size: $main-bar-elements-font-size*0.7;
            }
          }

          a {
            font-family: grotesque;
            font-weight: 400;
            font-size: $main-bar-elements-font-size*0.5;
            line-height: $main-bar-elements-font-size*0.5;
            color: $font-color-light;
            @include lt-sm() {
              font-size: $main-bar-elements-font-size*0.7;
            }
          }
        }
      }
    }

    .subs-mail {
      position: absolute;
      height: 100%;
      border-radius: $main-bar-height*0.1;
      right: 0;
      width: 45%;
      background: linear-gradient(to left, $main-color, $main-color-light);
      @include lt-sm() {
        position: relative;
        width: 100%;
        margin: 0;
        height: $main-bar-elements-height*6;
        border-radius: $main-bar-height/5;
      }

      .bottom-content {
        display: flex;
        flex-flow: row wrap;
        align-content: space-between;
        width: 100%;
        height: 100%;
        padding: 3% 5%;

        .bottom-form {
          width: 100%;

          p {
            font-family: grotesque;
            font-weight: 500;
            color: $font-color;
            font-size: $main-bar-elements-font-size*0.6;
            @include lt-sm() {
              font-size: $main-bar-elements-font-size*0.7;
            }
          }

          form {
            display: flex;
            width: 100%;
            justify-content: space-between;
            height: $main-bar-elements-height;

            input {
              font-family: grotesque;
              font-weight: 400;
              font-size: $main-bar-elements-font-size*0.6;
              line-height: $main-bar-elements-font-size*0.6;
              outline: none;
              width: 60%;
              border: none;
              padding-left: 5%;
              background-color: lighten($main-color, 25%);
              border-radius: $main-bar-height*0.5;
              @include lt-sm() {
                font-size: $main-bar-elements-font-size*0.7;
                line-height: $main-bar-elements-font-size*0.6;
              }
            }

            button {
              display: flex;
              align-items: center;
              justify-content: center;
              font-family: grotesque;
              font-weight: 400;
              width: 35%;
              border: none;
              color: $main-color;
              background-color: $font-color;
              border-radius: $main-bar-height*0.5;
              font-size: $main-bar-elements-font-size*0.5;
              @include lt-sm() {
                font-size: $main-bar-elements-font-size*0.7;
              }
            }
          }
        }

        .subs-icons {
          width: 100%;
          display: flex;
          justify-content: space-between;
          height: 40%;

          .subs-left {
            position: relative;
            width: auto;

            p {
              color: $font-color;
              font-family: grotesque;
              font-weight: 500;
              margin: 0;
              font-size: $main-bar-elements-font-size*0.6;
              width: auto;

              @include lt-sm() {
                margin-bottom: $main-bar-elements-font-size*0.5;
                font-size: $main-bar-elements-font-size*0.7;
              }
            }

            .subs-btns {
              position: absolute;
              width: 100%;
              display: flex;
              justify-content: space-between;
              height: auto;
              bottom: 0;

              a {
                position: relative;
                display: flex;
                height: $main-bar-elements-height;
                width: $main-bar-elements-height;
                justify-content: center;
                align-items: center;

                svg {
                  position: absolute;
                  width: 100%;
                  height: 100%;
                }

              }
            }
          }

          .bottom-kaska {
            display: flex;
            align-items: center;

            svg {
              height: 90%;
              width: auto;
            }
          }
        }
      }
    }
  }
}

@mixin tg-banner($main-bar-height, $main-bar-elements-height) {
  $main-bar-elements-font-size: ($main-bar-elements-height*0.6);
  .tg-banner-link {
    padding-bottom: $main-bar-height/2;

    .tg-banner {
      position: relative;
      display: flex;
      height: $main-bar-height*3;
      width: 100%;
      background: linear-gradient(275.61deg, $main-color, $main-color-light);
      //box-shadow: 0 0 10px 2px $font-color-light;
      border-radius: $main-bar-height/5;
      justify-content: space-between;
      overflow: hidden;
      @include lt-sm() {
        height: $main-bar-height*7;
      }

      &-left {
        position: absolute;
        top: $main-bar-height*0.5;
        left: $main-bar-height*0.6;
        width: 40%;
        z-index: 500;
        @include lt-sm() {
          padding-right: $main-bar-height*0.6;
          width: auto;
        }

        &-title {
          font-family: grotesque;
          font-weight: 700;
          color: $font-color;
          font-size: $main-bar-elements-font-size*1.2;
          line-height: $main-bar-elements-font-size*1.5;
        }

        &-text {
          font-family: apparat;
          font-weight: 400;
          color: $font-color;
          font-size: $main-bar-elements-font-size*0.7;
          line-height: $main-bar-elements-font-size;
        }
      }

      &-logo {
        position: absolute;
        margin: auto;
        height: 120%;
        width: auto;
        top: -5%;
        left: 50%;
        transform: translate(-50%) rotate(-15deg);
        z-index: 450;
        opacity: 20%;
        @include lt-sm() {
          margin: 0;
          left: 25%;
          top: 30%;
          height: auto;
          width: 70%;
          opacity: 30%;
          path {
            fill: lighten($main-color, 25%);
          }
          circle {
            stroke: lighten($main-color, 25%);
          }
        }
      }

      &-right {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 45%;
        height: 100%;
        z-index: 300;
        @include lt-sm() {
          left: 5%;
          width: 70%;
        }

        img {
          position: absolute;
          bottom: 0;
          left: 0;
          height: 90%;
          width: auto;
          z-index: 350;
          @include lt-sm() {
            //height: 45%;
            height: auto;
            width: 100%;
          }
        }
      }

      &-mini {
        position: absolute;
        right: 0;
        top: 50%;
        background: $main-color-light;
        height: $main-bar-height*0.9;
        width: $main-bar-height*1.2;
        border-top-left-radius: $main-bar-height*0.45;
        border-bottom-left-radius: $main-bar-height*0.45;
        z-index: 500;
        @include lt-sm() {
          top: 70%;
          height: $main-bar-height*1.4;
          width: $main-bar-height*1.8;
          border-top-left-radius: $main-bar-height*0.7;
          border-bottom-left-radius: $main-bar-height*0.7;
        }

        &-logo {
          top: $main-bar-height*0.1;
          left: $main-bar-height*0.1;
          position: absolute;
          z-index: 500;
          height: $main-bar-height*0.7;
          width: $main-bar-height*0.7;
          @include lt-sm() {
            top: $main-bar-height*0.2;
            left: $main-bar-height*0.2;
            height: $main-bar-height;
            width: $main-bar-height;
          }
        }
      }

      &-gradient {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        //opacity: 50%;
        background: linear-gradient(165deg, rgba(255, 0, 0, 0) 50%, $main-color 100%);
        z-index: 450;
        @include lt-sm() {
          display: none;
        }
      }
    }
  }
}

@mixin search($main-bar-height, $main-bar-elements-height) {
  $main-bar-elements-font-size: ($main-bar-elements-height*0.6);
  .search {
    display: flex;
    height: 100%;
    background: $card-background-color;
    border-radius: ($main-bar-elements-height*0.5);
  }

  .btn-search-commit {
    position: relative;
    width: $main-bar-elements-height;
    height: $main-bar-elements-height;
    background-color: $main-color;
    border-radius: $main-bar-elements-height;
    box-shadow: 0 0 1px 2px $main-color;
    //color: $font-color;
    cursor: pointer;
    border: none;

    div {
      position: absolute;
      top: 0;
      right: 0;
      width: $main-bar-elements-height;
      height: $main-bar-elements-height;
      border-radius: 50%;

      background-color: $main-color-light;

      svg {
        position: absolute;
        left: $main-bar-elements-height*0.15;
        top: $main-bar-elements-height*0.15;
        width: $main-bar-elements-height*0.7;
        height: $main-bar-elements-height*0.7;
        transition: all 0.2s ease-in-out;
      }
    }
  }

  .btn-search-cancel {
    display: flex;
    align-items: center;
    border: none;
    background: none;
    height: $main-bar-elements-height;
    outline: none;
    width: 0;
    padding: 0;
    
    svg {
      width: $main-bar-elements-font-size*0.6;
      height: $main-bar-elements-font-size*0.6;
    }
  }

  .searchText {
    border: none;
    background: none;
    outline: none;
    padding: 0;
    color: $main-color;
    font-size: $main-bar-elements-font-size*0.6;
    transition: 0.4s;
    width: 0;
    font-weight: 600;
    text-indent: $main-bar-elements-height/4;


    &::placeholder {
      color: $font-color-light;
    }
  }
}

@mixin search-hover() {
  .search:hover > .searchText {
    width: 14vw;
    padding: 0 6px;
    @include lt-lg() {
      width: 12vw;
    }
    @include lt-md() {
      width: 10vw;
    }
  }

  .searchText:focus {
    width: 14vw;
    padding: 0 6px;
    @include lt-lg() {
      width: 12vw;
    }
    @include lt-md() {
      width: 10vw;
    }
  }

  .search:hover > .btn-search-cancel {
    width: auto;
    padding-right: 5%;
  }
}

@mixin search-static($main-bar-height, $main-bar-elements-height) {
  .search {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: $main-bar-elements-height;
    border: 2px $main-color-light solid;
    border-radius: $main-bar-elements-height/2;
    background: $font-color;
    background-clip: border-box;

    .searchText {
      display: flex;
      padding-left: 3%;
      width: 100%;
      border: none;
      background: none;
      align-items: center;

      &:focus {
        border: none;
        outline: none;
      }

      &:active {
        border: none;
        outline: none;
      }
    }

    .btn-search-cancel {
      display: flex;
      align-items: center;
      width: auto;
      height: 100%;
      margin-right: $main-bar-elements-height*0.3;
      background: none;
      border: none;
      padding: 0;

      svg {
        height: $main-bar-elements-height*0.3;
      }
    }

    .btn-search-commit {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      background: $main-color-light;
      border: none;
      padding: 0;
      margin: 0;
      border-radius: $main-bar-elements-height/2;
      width: $main-bar-elements-height;
      height: $main-bar-elements-height;

      svg {
        position: absolute;
        width: $main-bar-elements-height*0.98;
        height: $main-bar-elements-height*0.98;

        circle {
          fill: $main-color-light;
        }
      }
    }
  }
}

@mixin bottom-field($main-bar-height, $main-bar-elements-height) {
  width: 100%;
  height: auto;
  background: $card-background-color;
  border-top-left-radius: ($main-bar-height/3);
  border-top-right-radius: ($main-bar-height/3);
  padding: $main-bar-height/2 10%;
  margin-top: $main-bar-height;
  //box-shadow: 0 0 50px 10px $font-color-light;

  > a {
    display: flex;
    height: auto;
    padding-bottom: $main-bar-height;

    > img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }
}

@mixin global {
  @include lt-lg() {
    @include main(116px, 35px);
  }

  @include lt-md() {
    @include main(89px, 29px);
  }

  @include lt-sm() {
    @include main(77px, 30px);
  }

  @include lt-mb() {
    @include main(65px, 25px);
  }

  @include xs() {
    @include main(54px, 20px);
  }
}