$main-color: #1268FB;
$main-color-light: #3982FF;
$font-color: #FFFFFF;
$font-color-light: #C0C0C0;
$dark-font-color: black;
$page-background-color: #F5F5F5;
$card-background-color: #FFFFFFFF;
$news-in-carousel-large: 4;
$news-in-carousel-medium: 3;
$news-in-puzzle: 3;
$news-in-puzzle-v: 4;
$margin-in-puzzle: 2%;


