@mixin category($main-bar-height, $main-bar-elements-height) {
  $main-bar-elements-font-size: ($main-bar-elements-height*0.6);
  .category-body {
    position: relative;
    display: flex;
    height: auto;
    padding-top: $main-bar-height/2;
    padding-bottom: $main-bar-height/2;
    width: 100%;
    background-color: $card-background-color;
    border-radius: $main-bar-height/3;
    box-shadow: 0 0 50px 10px $font-color-light;

    .category-left {
      height: 100%;
      width: 60%;
      margin-left: 9%;

      h2 {
        margin-left: 1%;
        font-family: grotesque;
        font-size: $main-bar-elements-font-size;
        font-weight: 600;
        margin-bottom: 5px;
      }

      .puzzle-grid {
        overflow: hidden;
        width: 100%;
        height: 100%;

        .new-card {
          @include news-cards($news-in-puzzle, $margin-in-puzzle, $main-bar-height, $main-bar-elements-height);
          height: $main-bar-height*2.5;

          &:nth-child(1), &:nth-child(4), &:nth-child(6), &:nth-child(9) {
            @include bluecard($main-bar-height, $main-bar-elements-height)
          }
        }
      }
    }

    .category-right {
      h2 {
        font-family: grotesque;
        font-size: $main-bar-elements-font-size;
        font-weight: 600;
      }

      @include news-column($main-bar-height, $main-bar-elements-height);
      width: 20%;
      margin-right: 10%;
    }
  }

  .latest-news-in-category {
    padding: $main-bar-height/2 10%;
    width: 100%;
    height: ($main-bar-height*2.5);
    @include latest-news($news-in-carousel-large, $main-bar-height, $main-bar-elements-height);
    @include lt-md {
      @include latest-news($news-in-carousel-medium, $main-bar-height, $main-bar-elements-height);
    }
  }

  .cat-3-posts {
    .rand-3-posts {
      width: auto;
      margin-right: 9%;
      margin-left: 9%;
      height: auto;

      .puzzle-grid {
        overflow: hidden;
        height: auto;
        width: 100%;

        .new-card {
          @include news-cards($news-in-puzzle+1, $margin-in-puzzle, $main-bar-height, $main-bar-elements-height);

          &:nth-child(odd) {
            @include bluecard($main-bar-height, $main-bar-elements-height)
          }

          height: $main-bar-height*2.5;
        }
      }

      .flickity-page-dots {
        .dot {
          background: $main-color-light;
        }

        .dot.is-selected {
          background: $main-color;
        }
      }
    }

    @include lt-sm() {
      display: none;
    }
  }
  .category-bottom {
    @include bottom-field($main-bar-height, $main-bar-elements-height);
    @include tg-banner($main-bar-height, $main-bar-elements-height);
    @include bottom-menu($main-bar-height, $main-bar-elements-height);
    @include lt-sm() {
      margin-top: 0;
    }
  }
}

@include category($stock-height, $stock-height-el);
@mixin main($height, $el-height) {
  @include category($height, $el-height)
}

@include global

//@include lt-xl() {
//  @include category(112px);
//}
//
//@include lt-lg() {
//  @include category(101px);
//}
//
//@include lt-md() {
//  @include category(89px);
//}