@mixin category($main-bar-height, $main-bar-elements-height) {
  $main-bar-elements-font-size: ($main-bar-elements-height*0.6);
  .category-body {
    position: relative;
    height: auto;
    padding: $main-bar-height*1.5 10% $main-bar-height/4 10%-($margin-in-puzzle/2);
    width: auto;
    background-color: $card-background-color;
    //border-radius: $main-bar-height/3;
    //box-shadow: 0 0 50px 10px $font-color-light;
    @include lt-sm() {
      padding: $main-bar-height*1.5 10%-($margin-in-puzzle-mobile/2) $main-bar-height/4 10%-($margin-in-puzzle-mobile/2);
    }
    &-content {
      position: relative;
      height: auto;
      width: 100%;


      .category-left {
        width: 100%;
        h2 {
          margin-left: 1%;
          font-family: grotesque;
          font-size: $main-bar-elements-font-size;
          font-weight: 600;
          margin-bottom: 5px;
          @include lt-sm() {
            margin-left: $margin-in-puzzle-mobile/2;
          }
        }
        .puzzle-grid {
          overflow: hidden;
          width: 100%;
          height: 100%;

          .new-card {
            @include news-cards($news-in-puzzle, $margin-in-puzzle, $main-bar-height, $main-bar-elements-height);
            width: ((100%-($margin-in-puzzle*1.5)-(100%-($margin-in-puzzle*($news-in-puzzle+1)))/($news-in-puzzle+1))-$margin-in-puzzle*(($news-in-puzzle)-1))/$news-in-puzzle;

            &:nth-child(1), &:nth-child(4), &:nth-child(6), &:nth-child(9) {
              @include bluecard($main-bar-height, $main-bar-elements-height);
              @include lt-md() {
                @include news-cards(($news-in-puzzle)-1, $margin-in-puzzle, $main-bar-height, $main-bar-elements-height);
                width: ((100%-($margin-in-puzzle*1.5)-(100%-($margin-in-puzzle*($news-in-puzzle)))/($news-in-puzzle))-$margin-in-puzzle*(($news-in-puzzle)-2))/(($news-in-puzzle)-1);
              }
              @include lt-sm() {
                @include news-cards(($news-in-puzzle)-1, $margin-in-puzzle-mobile, $main-bar-height, $main-bar-elements-height);
              }
            }

            @include lt-md() {
              @include news-cards(($news-in-puzzle)-1, $margin-in-puzzle, $main-bar-height, $main-bar-elements-height);
              width: ((100%-($margin-in-puzzle*1.5)-(100%-($margin-in-puzzle*($news-in-puzzle)))/($news-in-puzzle))-$margin-in-puzzle*(($news-in-puzzle)-2))/(($news-in-puzzle)-1);
              &:nth-child(1), &:nth-child(6), &:nth-child(8), &:nth-child(11) {
                @include bluecard($main-bar-height, $main-bar-elements-height);
                @include lt-sm() {
                  @include news-cards(($news-in-puzzle)-1, $margin-in-puzzle-mobile, $main-bar-height, $main-bar-elements-height);
                }
              }
            }

            @include lt-sm() {
              @include news-cards(($news-in-puzzle)-1, $margin-in-puzzle-mobile, $main-bar-height, $main-bar-elements-height);
              &:nth-child(1), &:nth-child(4), &:nth-child(7), &:nth-child(10) {
                @include bluecard($main-bar-height, $main-bar-elements-height);
                width: 100%-$margin-in-puzzle-mobile;
              }
            }
          }

          padding: 0;
          margin: 0;
        }

        //@include lt-sm() {
        //  width: 80%+$margin-in-puzzle-mobile;
        //}
      }

      .category-right {
        &-title {
          font-family: grotesque;
          font-size: $main-bar-elements-font-size;
          font-weight: 600;
        }
        @include news-column($main-bar-height, $main-bar-elements-height);
        top: 0;
        margin-top: 0;
        height: 100%;
        @include lt-sm() {
          display: none;
        }
      }

    }

    .pagination {
      margin-top: $main-bar-height/4;
    }
  }

  .category-center {
    background-color: $font-color;

    &-back {
      background-color: $page-background-color;
      border-top-left-radius: $main-bar-height/3;
      border-top-right-radius: $main-bar-height/3;

      .latest-news-in-category {
        padding: $main-bar-height/2 10%;
        width: 100%;
        height: ($main-bar-height*2.5);
        @include latest-news($news-in-carousel-large, $main-bar-height, $main-bar-elements-height);
        @include lt-md {
          @include latest-news($news-in-carousel-medium, $main-bar-height, $main-bar-elements-height);
        }
      }

      .cat-3-posts {
        @include rand-post-card($main-bar-height, $main-bar-elements-height)
      }
    }
  }


  .category-bottom {
    @include bottom-field($main-bar-height, $main-bar-elements-height);
    @include tg-banner($main-bar-height, $main-bar-elements-height);
    @include bottom-menu($main-bar-height, $main-bar-elements-height);
    @include lt-sm() {
      margin-top: 0;
    }
  }

}

@include category($stock-height, $stock-height-el);
@mixin main($height, $el-height) {
  @include category($height, $el-height)
}

@include global

//@include lt-xl() {
//  @include category(112px);
//}
//
//@include lt-lg() {
//  @include category(101px);
//}
//
//@include lt-md() {
//  @include category(89px);
//}