@font-face {
  font-family: 'lava';
  src: url('./fonts/LavaPro-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'grotesque';
  src: url('./fonts/BasisGrotesquePro-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'apparat';
  src: url('./fonts/apparat-regular.woff2') format('woff2');
}

@font-face {
  font-family: 'intro-r';
  src: url('./fonts/intro.woff2') format('woff2');
}