@font-face {
  font-family: 'lava';
  src: url('./fonts/LavaPro-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'grotesque';
  src: url('./fonts/BasisGrotesquePro-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'apparat';
  src: url('./fonts/Apparata Light.woff') format('woff');
}