@mixin home($main-bar-height, $main-bar-elements-height) {
  $main-bar-elements-font-size: ($main-bar-elements-height*0.6);
  .latest-news {
    //margin-bottom: $main-bar-height/4;
    padding: $main-bar-height*1.5 10% $main-bar-height/2;
    width: 100%;
    height: ($main-bar-height*3.5);
    background-color: $card-background-color;
    //border-radius: $main-bar-height/3;
    //box-shadow: 0 0 $main-bar-elements-height/5 2px lighten($font-color-light, 10%);

    @include latest-news($news-in-carousel-large, $main-bar-height, $main-bar-elements-height);

    @include lt-md {
      @include latest-news($news-in-carousel-medium, $main-bar-height, $main-bar-elements-height);
    }

    @include lt-sm() {
      display: none;
    }
  }
  .puzzle-block {

    //border: 1px solid red;
    background-color: $font-color;
    @include lt-sm() {
      margin-top: $main-bar-height;
      background-color: $page-background-color;
    }

    .puzzle-back {
      padding-top: $main-bar-height/2;
      padding-bottom: $main-bar-height/2;

      background-color: $page-background-color;
      border-top-left-radius: $main-bar-height/3;
      border-top-right-radius: $main-bar-height/3;
      //border: 1px solid black;
      .puzzle-news {
        margin: 0 9%;
        height: auto;
        @include lt-sm() {
          margin-left: 10%-($margin-in-puzzle-mobile/2);
          margin-right: 10%-($margin-in-puzzle-mobile/2);
        }

        .puzzle-carousel {
          width: 100%;
          height: auto;

          .puzzle-grid {
            overflow: hidden;
            width: 100%;

            .new-card {

              @include news-cards($news-in-puzzle, $margin-in-puzzle, $main-bar-height, $main-bar-elements-height);

              &:nth-child(even) {
                @include bluecard($main-bar-height, $main-bar-elements-height);

                @include lt-sm() {
                  @include news-cards(($news-in-puzzle)-1, $margin-in-puzzle-mobile, $main-bar-height, $main-bar-elements-height);

                }
              }

              @include lt-md() {
                &:nth-last-child(-n+1) {
                  display: none;
                }
              }

              @include lt-sm() {
                @include news-cards(($news-in-puzzle)-1, $margin-in-puzzle-mobile, $main-bar-height, $main-bar-elements-height);
                &:nth-child(2), &:nth-child(5) {
                  @include bluecard($main-bar-height, $main-bar-elements-height);
                  width: (100%-$margin-in-puzzle-mobile);

                  .new-card-text {
                    width: 100%;
                  }
                }
              }
            }

            .first-card {
              display: flex;
              align-items: center;
              position: relative;
              width: ((((100%-($margin-in-puzzle*$news-in-puzzle))/$news-in-puzzle)*2)+$margin-in-puzzle);
              @include lt-md() {
                width: (100%-$margin-in-puzzle);
              }
              @include lt-sm() {
                width: (100%-$margin-in-puzzle-mobile);
              }

              .first-card-img {
                display: flex;
                height: 100%;
                width: 100%;
                background: black;
                border-radius: $main-bar-height/5;

                img {
                  height: 100%;
                  border-radius: $main-bar-height/5;
                  object-fit: cover;
                  width: 100%;
                  opacity: 40%;

                }
              }

              .cat-date {
                position: absolute;
                top: 5%;
                width: 100%;
                display: flex;

                a {
                  font-family: apparat;
                  font-weight: 400;
                  position: absolute;
                  right: 50%;
                  font-size: $main-bar-elements-font-size*0.7;
                  color: $main-color;
                  padding-right: 5%;
                }

                p {
                  font-family: apparat;
                  font-weight: 400;
                  position: absolute;
                  left: 50%;
                  padding-left: 5%;
                  font-size: $main-bar-elements-font-size*0.7;
                  color: $font-color-light;
                }
              }

              .first-card-title {
                font-family: lava;
                font-weight: 500;
                padding-left: 5%;
                padding-right: 5%;
                width: 100%;
                text-align: center;
                position: absolute;
                color: $font-color;
                font-size: $main-bar-elements-font-size*1.5;
                line-height: $main-bar-elements-font-size*2;
              }
            }
          }
        }

        .flickity-page-dots {
          .dot {
            background: $main-color-light;
          }

          .dot.is-selected {
            background: $main-color;
          }
        }
      }
    }
  }

  .cat-news {
    width: 100%;
    height: auto;
    padding-top: $main-bar-height/2;
    padding-bottom: $main-bar-height/2;
    background-color: $card-background-color;
    border-top-right-radius: $main-bar-height/3;
    border-top-left-radius: $main-bar-height/3;
    //box-shadow: 0 0 $main-bar-elements-height/5 2px lighten($font-color-light, 10%);
    @include tg-banner($main-bar-height, $main-bar-elements-height);

    .mobile-last-news {
      display: none;
      font-weight: 600;
      font-family: grotesque;
      font-size: $main-bar-elements-font-size;
      color: $dark-font-color;
      margin-top: $main-bar-elements-height;
      padding-left: 10%;
      margin-bottom: 0;
      padding-bottom: 0;
      width: 80%;
      @include lt-sm() {
        display: block;
      }
    }

    .tg-banner-link {
      padding-left: 10%;
      padding-right: 10%;
    }

    .subs-pict {
      padding-right: 10%;
      padding-left: 10%;
      width: 100%;
      height: auto;
      object-fit: cover;
      padding-bottom: 5%;
    }

    .categories-list {
      display: flex;
      align-items: center;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      height: auto;
      margin: auto;
      width: 100%;
      padding-right: 10%;
      padding-left: 10%;

      .cat_btn {
        text-align: center;
        font-family: grotesque;
        white-space: nowrap;
        font-weight: 400;
        font-size: $main-bar-elements-font-size*0.7;
        color: $dark-font-color;
        background: none;
        border: none;
        @include lt-sm() {
          flex-basis: 33%;
          font-size: $main-bar-elements-font-size*0.8;
        }
        @include lt-mb() {
          flex-basis: 50%;
        }

      }

      .is-selected {
        font-weight: 700;
      }
    }

    .puzzle-news-by-cat {
      position: relative;
      margin: $main-bar-height/2 9% $main-bar-height 9%;
      height: auto;
      @include lt-sm() {
        margin: 0 9% $main-bar-height/2 9%;
      }

      //.flickity-page-buttons {
      //  height: $main-bar-elements-height*2;
      //  top: -$main-bar-elements-height;
      //  position: absolute;
      //  padding-right: 20%;
      //  padding-left: 20%;
      //  @include lt-sm() {
      //    padding-right: 10%;
      //    padding-left: 10%;
      //  }
      //
      //  .cat_btn {
      //    font-family: grotesque;
      //    font-weight: 400;
      //    font-size: $main-bar-elements-font-size*0.8;
      //    color: $dark-font-color;
      //    padding-right: 5%;
      //    background: none;
      //    border: none;
      //  }
      //}

      .flickity-page-dots {
        .dot {
          background: $main-color-light;
        }

        .dot.is-selected {
          background: $main-color;
        }
      }

      .cat-news-carousel {
        width: 100%;
        height: auto;

        .flickity-viewport {
          height: auto;

          .flickity-slider {
            height: auto;

            .cat-puzzle-grid {
              overflow: hidden;
              display: block;
              width: 100%;
              height: auto;
              padding-bottom: 0;

              .new-card {
                @include news-cards($news-in-puzzle, $margin-in-puzzle, $main-bar-height, $main-bar-elements-height);

                &:nth-child(1), &:nth-child(4), &:nth-child(5) {
                  @include bluecard($main-bar-height, $main-bar-elements-height);
                  @include lt-sm() {
                    @include news-cards($news-in-puzzle, $margin-in-puzzle, $main-bar-height, $main-bar-elements-height);
                  }
                }

                &:nth-child(2n):not(:nth-child(6)) {
                  margin-right: $margin-in-puzzle;
                }

                @include lt-sm() {
                  &:nth-child(1), &:nth-child(2), &:nth-child(3) {
                    margin: 0 1%;
                    height: auto;
                    width: 98%;
                    box-shadow: none;
                    border-radius: 0;

                    img {
                      display: none;
                    }

                    .new-card-text {
                      position: relative;
                      height: 100%;
                      top: 0;
                      width: 100%;
                      padding: 0 0 $main-bar-elements-height/2;
                      border-bottom: 1px solid $font-color-light;

                      .new-card-category {
                        display: none;
                      }

                      .new-card-pubdate {
                        display: block;
                        margin: 0;
                        font-family: grotesque;
                        font-weight: 400;
                        color: $font-color-light;
                        font-size: $main-bar-elements-font-size*0.6;
                        text-transform: uppercase;
                        padding-top: $main-bar-elements-height/2;
                        padding-bottom: $main-bar-elements-height/4;
                      }

                      .new-card-title {
                        > div {
                          font-family: lava;
                          font-weight: 400;
                          overflow: hidden;
                          display: -webkit-box;
                          -webkit-line-clamp: 3;
                          -webkit-box-orient: vertical;
                          height: auto;
                          color: $dark-font-color;
                          font-size: $main-bar-elements-font-size*0.7;
                          line-height: $main-bar-elements-font-size;
                        }
                      }

                    }
                  }
                  &:nth-child(3) {
                    margin-bottom: $main-bar-elements-height;
                  }
                  &:nth-child(4), &:nth-child(7) {
                    @include news-cards(($news-in-puzzle)-1, $margin-in-puzzle-mobile, $main-bar-height, $main-bar-elements-height);
                    @include bluecard($main-bar-height, $main-bar-elements-height);
                    width: (100%-$margin-in-puzzle);

                    .new-card-text {
                      width: 100%;
                    }
                  }
                  &:nth-child(5), &:nth-child(6) {
                    @include news-cards(($news-in-puzzle)-1, $margin-in-puzzle-mobile, $main-bar-height, $main-bar-elements-height);
                  }
                }
              }

              .puzzle-right {
                @include news-column($main-bar-height, $main-bar-elements-height);
                width: ((100%-($margin-in-puzzle*($news-in-puzzle)))/($news-in-puzzle));

                .next-card {

                  padding-top: $margin-in-puzzle;
                  height: auto;

                  .next-new-card {
                    margin-right: 0;

                    &:nth-child(1) {
                      padding-top: 0;
                    }
                  }

                  &::-webkit-scrollbar {
                    width: 0;
                  }
                }

                @include lt-sm() {
                  display: none;
                }
              }
            }
          }
        }
        .flickity-page-dots {
          position: absolute;
          bottom: -($main-bar-height/2);
          transform: translateY(50%);
          @include lt-sm() {
            bottom: 0;
          }
        }
      }
    }

    @include bottom-menu($main-bar-height, $main-bar-elements-height);

    .bottom-menu {
      width: auto;
      margin-right: 10%;
      margin-left: 10%;
    }
  }
}

@include home($stock-height, $stock-height-el);
@mixin main($height, $el-height) {
  @include home($height, $el-height)
}

@include global


//@include lt-xl() {
//  @include home(112px);
//}
//
//@include lt-lg() {
//  @include home(101px);
//}
//
//@include lt-md() {
//  @include home(89px);
//}






