

@mixin layout($main-bar-height, $main-bar-elements-height) {
  $main-bar-elements-font-size: ($main-bar-elements-height*0.6);
  a {
    color: $font-color;
    text-decoration: none;

    &:hover {
      color: $font-color;
    }
  }

  ul {
    list-style: none;
    padding: 0;
  }

  .up-menu {
    position: fixed;
    top: 0;

    display: flex;
    height: $main-bar-height;
    width: 100%;
    background-color: $main-color;
    align-items: center;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
    border-bottom-left-radius: ($main-bar-height/3);
    border-bottom-right-radius: ($main-bar-height/3);
    z-index: 5000;

    > div {
      height: $main-bar-elements-height;
      display: flex;
      align-items: center;
    }


    .up-menu-logo {
      display: flex;
      justify-content: left;
      align-items: center;
      .kaska-logo {
        width: auto;
        height: $main-bar-elements-font-size;
        padding-right: ($main-bar-elements-height/3);
      }

      .kaska-title {
        font-family: intro-r;
        font-weight: 400;
        font-size: $main-bar-elements-font-size;
        margin: 0;
      }
    }

    .up-menu-center {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      justify-content: center;

      .up-menu-subs {
        height: 100%;
        display: flex;
        background-color: $main-color-light;
        border-radius: ($main-bar-elements-height*0.5);
        align-items: center;
        padding-left: ($main-bar-elements-height*0.2);
        padding-right: ($main-bar-elements-height*0.3);

        a {
          font-family: grotesque;
          font-weight: 500;
          color: $font-color;
          font-size: ($main-bar-elements-font-size*0.6);

          svg {
            height: ($main-bar-elements-font-size*0.8);
            margin-right: ($main-bar-elements-height*0.2);
          }
        }
      }

      > a {
        font-family: grotesque;
        font-weight: 500;
        color: $font-color;
        display: flex;
        align-items: center;
        height: 100%;
        margin-right: ($main-bar-elements-height*0.4);
        margin-left: ($main-bar-elements-height*0.4);
        padding-left: ($main-bar-elements-height*0.3);
        padding-right: ($main-bar-elements-height*0.3);
        border-radius: ($main-bar-elements-height*0.5);
        font-size: ($main-bar-elements-font-size*0.6);
        transition: 0.2s ease;

        &:hover {
          background-color: $main-color-light;
        }
      }

      .up-menu-categories {
        display: flex;
        height: 100%;

        button {
          font-family: grotesque;
          font-weight: 700;
          color: $font-color;
          background: transparent;
          border: 0;
          font-size: ($main-bar-elements-font-size*0.6);
          padding-left: ($main-bar-elements-height*0.3);
          padding-right: ($main-bar-elements-height*0.3);
          border-radius: ($main-bar-elements-height*0.5);
          transition: 0.2s ease;

          &:hover {
            background-color: $main-color-light;
          }

          svg {
            margin-left: ($main-bar-elements-height*0.1);
            height: ($main-bar-elements-height*0.3);
            width: auto;
            fill: $font-color;
            transition: 0.5s ease;
          }
        }
      }

      .rotate {
        rotate: 180deg;
      }
    }

    .up-menu-right {
      display: flex;
      justify-content: right;

      .up-menu-vk {
        width: $main-bar-elements-height;
        height: $main-bar-elements-height;
        display: flex;
        align-items: center;
        background-color: $main-color-light;
        border-radius: 50%;
        justify-content: center;
        margin-right: $main-bar-elements-height*0.5;

        svg {
          height: $main-bar-elements-height*0.6;
          width: auto;
        }
      }

      .up-menu-search {
        background: $main-color;
        display: flex;
        justify-content: center;
        align-items: center;

        .search {
          display: flex;
          height: 100%;
          background: $card-background-color;
          border-radius: ($main-bar-elements-height*0.5);
        }

        .btn-search-commit {
          width: $main-bar-elements-height;
          height: $main-bar-elements-height;
          border-radius: 50%;
          box-shadow: 0 0 1px 2px $main-color;
          background: $main-color-light;
          display: flex;
          justify-content: center;
          align-items: center;
          color: $font-color;
          cursor: pointer;
          border: none;

          svg {
            transition: all 0.2s ease-in-out;
          }
        }

        .btn-search-cancel {
          border: none;
        }

        .search:hover > .searchText {
          width: 14vw;
          padding: 0 6px;
          @include lt-lg() {
            width: 12vw;
          }
          @include lt-md() {
            width: 10vw;
          }
        }

        .searchText:focus {
          width: 14vw;
          padding: 0 6px;
          @include lt-lg() {
            width: 12vw;
          }
          @include lt-md() {
            width: 10vw;
          }
        }

        .search:hover > .btn-search-cancel {
          width: auto;
        }

        //.btn-search-cancel:focus {
        //  display: none;
        //}

        .searchText {
          border: none;
          background: none;
          outline: none;
          padding: 0;
          color: $main-color;
          font-size: $main-bar-elements-font-size*0.6;
          transition: 0.4s;
          width: 0;
          font-weight: 600;

          &::placeholder {
            color: $font-color-light;
          }
        }

        .search:hover > .btn-search-commit {
          svg {
            transform: scale(1.5);
          }
        }

        .search:hover > .btn-search-commit:hover {
          svg {
            transform: scale(1.5);
          }
        }
      }
    }
    @include lt-sm() {
      .up-menu-center {
        display: none;
      }
    }
  }

  .submenu {
    position: fixed;
    top: -($main-bar-height*4);
    z-index: 4000;
    height: ($main-bar-height*4);
    border-bottom-left-radius: ($main-bar-height/3);
    border-bottom-right-radius: ($main-bar-height/3);
    width: 100%;
    background-color: $main-color;
    margin-top: -$main-bar-height;
    padding-top: $main-bar-height;
    transition: 0.5s ease;

    .submenu-content {
      height: ($main-bar-height*3);
      display: flex;

      div {
        height: 90%;
      }

      .submenu-logo {
        width: 30%;
        display: flex;
        justify-content: center;

        svg {
          height: 100%;
        }
      }

      .submenu-categories {
        width: 20%;
        overflow: scroll;
        overflow-x: hidden;

        &::-webkit-scrollbar {
          width: ($main-bar-elements-font-size*0.2);
        }

        &::-webkit-scrollbar-track {
          background: $main-color-light;
          border-radius: ($main-bar-elements-font-size*0.2);
        }

        &::-webkit-scrollbar-thumb {
          background-color: $font-color;
          border-radius: ($main-bar-elements-font-size*0.2);
        }

        .cat-btn {
          font-family: grotesque;
          font-weight: 400;
          text-align: left;
          width: 100%;
          border: none;
          background: none;
          padding: $main-bar-elements-font-size*0.5 10%;
          color: $font-color;
          font-size: ($main-bar-elements-font-size*0.6);
          display: block;
          align-items: center;
          transition: 0.2s ease;

          &:hover {
            background-color: $main-color-light;
          }
        }

        .cat-btn-active {
          background-color: $main-color-light
        }
      }

      .submenu-descriptions {
        position: relative;
        width: 50%;
        padding-left: 5%;
        padding-right: 5%;

        .pre-titles {
          width: 100%;
          height: 70%;

          .sub-title {
            div {
              font-family: grotesque;
              font-weight: 400;
              font-size: ($main-bar-elements-font-size*0.6);
              color: $font-color;
              width: 100%;
              overflow: hidden;
              display: -webkit-box;
              -webkit-line-clamp: 2;
              -webkit-box-orient: vertical;
              height: auto;
              margin-bottom: $main-bar-elements-font-size;
            }
          }
        }

        .to-cat {
          font-family: apparat;
          font-weight: 500;
          font-size: ($main-bar-elements-font-size*0.6);
          color: $font-color;
          position: absolute;
          bottom: 0;
        }
      }
    }
  }

  .submenu-back {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background: black;
    opacity: 0;
    z-index: 3000;
    transition: 0.5s ease;
    top: -100vh;

  }

  .show {
    top: $main-bar-height;
  }

  .show-back {
    top: 0;
    opacity: 50%;
  }

  body {
    background-color: $page-background-color;
  }

  .page-body {
    max-width: 1640px;
    position: relative;
    padding-top: $main-bar-height/4;
    @include lt-sm() {
      padding-top: 1px;
    }
    margin: $main-bar-height auto 0;
  }


  #up-btn {
    background-color: $main-color-light;
    display: flex;
    position: fixed;
    width: $main-bar-height/2;
    height: $main-bar-height/2;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    transition: 0.5s;
    bottom: -100px;
    right: $main-bar-height/4;
    align-items: center;
    padding: 0;
    z-index: 5000;

    &:hover {
      background-color: lighten($main-color, 15%);
      transform: scale(1.3);
      transition: transform .2s ease;
    }

    .top-btn-svg {
      font-size: $main-bar-height/2;
      color: $font-color;
    }
  }
}

@include layout($stock-height, $stock-height-el);
@mixin main($height, $el-height) {
  @include layout($height, $el-height)
}
@include global


//@include layout(123px);
//
//@include lt-xl() {
//  @include layout(115px);
//}
//
//@include lt-lg() {
//  @include layout(106px);
//}
//
//@include lt-md() {
//  @include layout(98px);
//}
//
//@include lt-sm() {
//  @include layout(89px);
//}
