@mixin post($main-bar-height, $main-bar-elements-height) {
  $main-bar-elements-font-size: ($main-bar-elements-height*0.6);
  .post-block {
    position: relative;
    display: flex;
    padding: $main-bar-height*1.5 10% $main-bar-height/2;
    width: 100%;
    background-color: $card-background-color;

    .post-content {
      position: relative;
      height: auto;
      width: 100%;

      .post-left {
        position: relative;
        height: 100%;
        width: 65%;
        //width: (100%-($margin-in-puzzle*1.5)-(100%-($margin-in-puzzle*($news-in-puzzle+1)))/($news-in-puzzle+1));
        @include lt-md() {
          width: 60%;
        }
        @include lt-sm() {
          width: 100%;
        }

        .post-way {
          display: flex;

          > a {
            font-family: apparat;
            font-weight: 400;
            color: $main-color-light;
            font-size: $main-bar-elements-font-size*0.7;
            margin-right: $main-bar-elements-font-size;
          }

          > p {
            color: $font-color-light;
            font-family: apparat;
            font-weight: 400;
            font-size: $main-bar-elements-font-size*0.7;
          }
        }

        > h2 {
          font-family: lava;
          font-weight: 600;
          font-size: $main-bar-elements-font-size*1.4;
          margin-bottom: $main-bar-elements-height*0.7;
        }

        .share-field {
          position: relative;
          display: flex;
          align-items: center;
          height: $main-bar-elements-height;
          margin-bottom: $main-bar-elements-height*0.5;

          &-btn {
            position: absolute;
            z-index: 1500;
            left: 0;
            top: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            width: $main-bar-height*1.5;
            height: $main-bar-elements-height;
            font-family: grotesque;
            font-weight: 500;
            background-color: $main-color-light;
            font-size: $main-bar-elements-font-size*0.8;
            color: $font-color;
            border: none;
            border-radius: ($main-bar-elements-height*0.5);
            padding: 0;
            svg {
              height: $main-bar-elements-font-size;
              width: auto;
              margin-right: 5%;
            }
          }

          &-btns {
            position: absolute;
            z-index: 1000;
            left: 0;
            top: 0;
            display: flex;
            width: $main-bar-height*1.5;
            justify-content: space-between;
            transition: 0.5s ease;
            &-btn {
              margin: 0;
              width: auto;
              height: $main-bar-elements-height;
              border: none;
              background: none;
              padding: 0;
              display: flex;
              align-items: center;
              justify-content: center;

              svg {
                height: $main-bar-elements-height*0.98;
                width: $main-bar-elements-height*0.98;
              }
            }
          }
          .show-btns {
            left: $main-bar-height*1.5;
            margin-left: 4%;
          }
        }

        img {
          border-radius: $main-bar-height/5;
          width: 100%;
          margin-bottom: $main-bar-height/4;
        }

        .post-text {
          font-family: apparat;
          font-weight: 400;
          font-size: $main-bar-elements-font-size*0.7;
          color: $dark-font-color;
          margin-bottom: 0;
        }
      }

      .news-column {
        &-title {
          font-family: grotesque;
          font-size: $main-bar-elements-font-size;
          font-weight: 600;
        }

        @include news-column($main-bar-height, $main-bar-elements-height);
        top: 0;
        margin-top: 0;
        height: 100%;
        @include lt-sm() {
          display: none;
        }
      }
    }
  }

  .post-center {
    background-color: $font-color;

    &-back {
      background-color: $page-background-color;
      border-top-left-radius: $main-bar-height/3;
      border-top-right-radius: $main-bar-height/3;

      .latest-news-in-post {
        padding: $main-bar-height/2 10%;
        width: 100%;
        height: ($main-bar-height*2.5);
        @include latest-news($news-in-carousel-large, $main-bar-height, $main-bar-elements-height);
        @include lt-md {
          @include latest-news($news-in-carousel-medium, $main-bar-height, $main-bar-elements-height);
        }
      }

      .rand-posts {
        @include rand-post-card($main-bar-height, $main-bar-elements-height)
      }
    }
  }


  .post-bottom {
    @include bottom-field($main-bar-height, $main-bar-elements-height);
    @include tg-banner($main-bar-height, $main-bar-elements-height);
    @include bottom-menu($main-bar-height, $main-bar-elements-height);
  }
}

@include post($stock-height, $stock-height-el);
@mixin main($height, $el-height) {
  @include post($height, $el-height)
}

@include global

//@include lt-xl() {
//  @include post(112px);
//}
//
//@include lt-lg() {
//  @include post(101px);
//}
//
//@include lt-md() {
//  @include post(89px);
//}