@mixin search-result($main-bar-height, $main-bar-elements-height) {
  $main-bar-elements-font-size: ($main-bar-elements-height*0.6);
  .search-body {
    margin-top: $main-bar-elements-height;
    position: relative;
    height: auto;
    width: 100%;
    background-color: $card-background-color;
    border-radius: $main-bar-height/3;
    box-shadow: 0 0 50px 10px $font-color-light;
    padding: $main-bar-height/2 9%;

    .mobile-search-form {
      display: none;

      @include lt-sm() {
        @include search($main-bar-height, $main-bar-elements-height);
        position: relative;
        width: 100%;
        padding-bottom: $main-bar-elements-height;
        display: flex;
        justify-content: center;

        .search {
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 70%;
          height: $main-bar-elements-height;
          box-shadow: inset 0 0 0 2px $main-color-light;

          .searchText {
            padding-left: 3%;
            width: 100%;
            height: $main-bar-elements-height;

          }

          .btn-search-commit {
            box-shadow: none;
          }

          .btn-search-cancel {
            font-family: grotesque;
            width: auto;
            height: 100%;
            padding-right: 2%;
            font-size: $main-bar-elements-height;
            line-height: $main-bar-elements-height*1.2;
            margin: 0;
          }

        }
      }
    }

    .search-title {
      padding-left: 1%;
      padding-right: 1%;
      display: flex;
      justify-content: space-between;
      @include lt-sm() {
        display: none;
      }

      h2 {
        font-family: grotesque;
        font-size: $main-bar-elements-font-size;
        font-weight: 600;
      }
    }

    .puzzle-grid {
      position: relative;
      height: auto;
      overflow: hidden;

      .card-search-set {
        position: relative;
        box-shadow: none !important;
        @include lt-sm() {
          position: absolute !important;
          width: 70% !important;
          background: none !important;
          left: 50%;
          transform: translate(-50%);
          margin: 0 !important;
        }

        .card-search-settings {
          position: absolute;
          z-index: 1000;
          width: 100%;
          height: 100%;

          .switch-mode {
            display: flex;
            height: $main-bar-elements-height;
            width: 100%;
            box-shadow: inset 0 0 0 2px $main-color-light;
            border-radius: $main-bar-elements-height/2;
            align-items: center;
            margin-bottom: $main-bar-elements-height;

            .btn {
              height: $main-bar-elements-height;
              display: block;
              font-size: $main-bar-elements-font-size*0.7;
              position: relative;
              transition: background 600ms ease, color 600ms ease;
              padding: 0;
              margin: 0;
            }


            input[type="radio"].toggle {
              display: none;

              & + label {
                border: none;
                height: $main-bar-elements-height;
                cursor: pointer;
                width: 50%;
                display: flex;
                align-items: center;
                justify-content: center;

                &:hover {
                  background: none;
                  color: $main-color-light;
                }

                &:after {
                  border-radius: $main-bar-elements-height/2;
                  background: $main-color-light;

                  content: "";
                  height: 100%;
                  position: absolute;
                  top: 0;
                  transition: left 200ms cubic-bezier(0.77, 0, 0.175, 1);
                  width: 100%;
                  z-index: -1;
                }
              }

              &.toggle-left + label {
                //border-right: 0;

                &:after {
                  left: 100%
                }
              }

              &.toggle-right + label {
                //margin-left: -5px;

                &:after {
                  left: -100%;
                }
              }

              &:checked + label {
                cursor: default;
                color: $font-color;
                transition: color 200ms;
                border: none;

                &:after {
                  left: 0;
                }
              }
            }
          }

          .set-time {

            .form-check {

              &-input {
                border: 1px solid $main-color-light;
              }
            }
          }
        }
      }

      .new-card {
        @include news-cards($news-in-puzzle+1, $margin-in-puzzle, $main-bar-height, $main-bar-elements-height);

        &:nth-child(1), &:nth-child(5), &:nth-child(7), &:nth-child(8), &:nth-child(11), &:nth-child(12), &:nth-child(17), &:nth-child(19) {
          @include bluecard($main-bar-height, $main-bar-elements-height);
          @include lt-sm() {
            @include news-cards(($news-in-puzzle)-1, $margin-in-puzzle, $main-bar-height, $main-bar-elements-height);
          }
        }

        height: $main-bar-height*2.5;

        @include lt-sm() {
          @include news-cards(($news-in-puzzle)-1, $margin-in-puzzle, $main-bar-height, $main-bar-elements-height);
          &:nth-child(1) {
            margin-top: $main-bar-height*3;
          }
          &:nth-child(1), &:nth-child(7), &:nth-child(14) {
            @include bluecard($main-bar-height, $main-bar-elements-height);
            width: (100%-$margin-in-puzzle);

            .new-card-text {
              width: 100%;
            }
          }
        }
      }
    }

    .pagination {
      padding-top: $main-bar-height*0.6;
    }
  }

  .no-res {
    position: relative;
    width: 100%;
    background-color: $card-background-color;
    border-radius: $main-bar-height/3;
    box-shadow: 0 0 50px 10px $font-color-light;
    padding: $main-bar-height/2 9%;
  }

  @include lt-sm() {

  }


  .rand-posts-search {
    .rand-3-posts {
      width: auto;
      margin-right: 9%;
      margin-left: 9%;
      height: auto;

      .puzzle-grid {
        overflow: hidden;
        height: auto;
        width: 100%;

        .new-card {
          @include news-cards($news-in-puzzle+1, $margin-in-puzzle, $main-bar-height, $main-bar-elements-height);

          &:nth-child(odd) {
            @include bluecard($main-bar-height, $main-bar-elements-height)
          }

          height: $main-bar-height*2.5;
        }
      }

      .flickity-page-dots {
        .dot {
          background: $main-color-light;
        }

        .dot.is-selected {
          background: $main-color;
        }
      }

      @include lt-sm() {
        display: none;
      }
    }
  }
}

@include search-result($stock-height, $stock-height-el);
@mixin main($height, $el-height) {
  @include search-result($height, $el-height)
}

@include global
//@include lt-xl() {
//  @include search-result(112px);
//}
//
//@include lt-lg() {
//  @include search-result(101px);
//}
//
//@include lt-md() {
//  @include search-result(89px);
//}
