@mixin search-result($main-bar-height) {
  $main-bar-elements-height: ($main-bar-height*0.4);
  $main-bar-elements-font-size: ($main-bar-elements-height*0.6);
  .search-body {
    position: relative;
    height: $main-bar-height*15;
    width: 100%;
    background-color: $card-background-color;
    border-radius: $main-bar-height/3;
    box-shadow: 0 0 50px 10px $font-color-light;
    padding: $main-bar-height/2 9%;

    .search-title {
      padding-left: 1%;
      padding-right: 1%;
      display: flex;
      justify-content: space-between;
    }

    .puzzle-grid {
      height: $main-bar-height*13;

      .new-card {
        @include news-cards($news-in-puzzle, $news-in-puzzle, $margin-in-puzzle, 0, $main-bar-height);

        &:nth-child(1), &:nth-child(4), &:nth-child(6), &:nth-child(9) {
          @include bluecard($main-bar-height)
        }
      }
    }
  }
  .no-res {
    position: relative;
    width: 100%;
    background-color: $card-background-color;
    border-radius: $main-bar-height/3;
    box-shadow: 0 0 50px 10px $font-color-light;
    padding: $main-bar-height/2 9%;
  }
}

@include search-result(123px);

@include lt-xl() {
  @include search-result(112px);
}

@include lt-lg() {
  @include search-result(101px);
}

@include lt-md() {
  @include search-result(89px);
}
