$main-color: #1268FB;
$main-color-light: #3982FF;
$font-color: #FFFFFF;
$font-color-light: #C0C0C0;
$dark-font-color: black;
$page-background-color: #F5F5F5;
$main-bar-height: 123px;
$main-bar-elements-height: ($main-bar-height*0.4);
$main-bar-elements-font-size: ($main-bar-elements-height*0.6);
$card-background-color: #FFFFFFFF;
$news-in-carousel: 4;
$news-in-puzzle: 3;
$news-in-puzzle-v: 4;
$margin-in-puzzle: 2%;
$width: 400px;

@font-face {
  font-family: Intro;
  src: url("/fonts/Intro Regular Regular.otf");
  font-style: normal;
  font-weight: normal;
}


@mixin breakpoint($point){
  @if $point == lg {@media (max-width: 992px) {@content;}}
  @else if $point == md {@media (max-width: 768px) {@content;}}
  @else if $point == sm {@media (max-width: 576px) {@content;}}
  @else if $point == xs {@media (max-width: 320px) {@content;}}
}