/*!*БОКОВОЕ МЕНЮ*!*/
/*.nav-bar{*/
/*	position: fixed;*/
/*	left: 0;*/
/*	top: 0;*/
/*	height: 100%;*/
/*	width: 75px;*/
/*	display: flex;*/
/*	flex-direction: column;*/
/*	align-items: center;*/
/*	z-index: 999;*/
/*}*/

/*.nav-bar img{*/
/*	width: 40px;*/
/*}*/

/*.nav-bar > a{*/
/*	transition: transform .2s ease;*/
/*	z-index: 600;*/
/*}*/

/*#up-btn {*/
/*	background-color: #1268FB;*/
/*	display: flex;*/
/*    position: fixed;*/
/*	width: 50px;*/
/*	height: 50px;*/
/*	border-radius: 30px;*/
/*    border: none;*/
/*    cursor: pointer;*/
/*	transition: 0.5s;*/
/*	bottom: -50px;*/
/*	z-index: 600;*/
/*	align-items: center;*/
/*	padding: 0;*/
/*}*/

/*#up-btn:hover {*/
/*    background-color: #129afb;*/
/*	transform: scale(1.3);*/
/*	transition: transform .2s ease;*/
/*}*/

/*.top-btn-svg{*/
/*	font-size: 50px;*/
/*	color: #FFFFFF;*/
/*}*/

/*.nav-bar > a:hover{*/
/*	transform: scale(1.3);*/
/*}*/

/*p.belaya{*/
/*	transform: rotate(-90deg);*/
/*	width: 120px;*/
/*	color: #fff;*/
/*	margin-top: 90px;*/
/*	margin-bottom: 100px;*/
/*	text-transform: uppercase;*/
/*	z-index: 600;*/
/*}*/
/*p.kaska{*/
/*	transform: rotate(-90deg);*/
/*	width: 120px;*/
/*	color: #fff;*/
/*	margin-top: -183px;*/
/*	margin-bottom: 160px;*/
/*	text-transform: uppercase;*/
/*	font-weight: bold;*/
/*	font-style: italic;*/
/*	z-index: 600;*/
/*}*/

/*.blue-column{*/
/*	position: fixed;*/
/*	display: block;*/
/*	width: 75px;*/
/*	height: 100%;*/
/*	background-color: #1268FB;*/
/*	z-index: 500;*/
/*}*/

/*.nav-menu{*/
/*	margin-top: 3px;*/
/*	margin-bottom: 100px;*/
/*	position: relative;*/
/*    display: inline-block;*/
/*}*/

/*.btn{*/
/*	height: 62px;*/
/*	width: auto;*/
/*	transition: transform .2s ease;*/
/*	cursor: pointer;*/
/*	border: none;*/
/*	z-index: 600;*/
/*}*/

/*.btn:hover{*/
/*	transform: scale(1.3);*/
/*	border: none;*/
/*}*/

/*.submenu-btn{*/
/*	color: #FFFFFF;*/
/*	font-size: 50px;*/
/*}*/

/*.submenu{*/
/*	display: none;*/
/* 	position: absolute;*/
/* 	background-color: #FFFFFF;*/
/* 	width: 240px;*/
/*	margin-left: 37px;*/
/*	z-index: 10;*/
/*	border-left: solid #F0F0F0 3px;*/
/*	border-right: solid #F0F0F0 4px;*/
/*	align-items: center;*/
/*	animation: anim 1s ease;*/
/*	height: 100vh !important;*/
/*	opacity: 0.95;*/
/*	overflow: scroll;*/
/*}*/

/*.submenu::-webkit-scrollbar {*/
/*  width: 0;*/
/*}*/


/*.submenu a {*/
/* 	color: black;*/
/* 	padding: 12px 16px;*/
/* 	text-decoration: none;*/
/* 	display: block;*/
/*	align-items: center;*/
/*}*/

/*.submenu a:hover {*/
/*	background-color: #F0F0F0;*/
/*}*/

/*.show {*/
/*	display:block;*/
/*}*/

/*.submenu p{*/
/*	text-transform: uppercase;*/
/*	align-items: center;*/
/*	display: block !important;*/
/*	font-style: normal;*/
/*	font-weight: 550;*/
/*	font-size: 20px;*/
/*	line-height: 105.84%;*/
/*	color: #000000;*/
/*	margin-left: 15px;*/
/*	margin-top: 30px;*/
/*}*/

/*!*ВЕРХНЕЕ МЕНЮ*!*/
/*.main-header{*/
/*	position: fixed;*/
/*	display: flex;*/
/*	top: 0;*/
/*	margin-left: 75px;*/
/*	width: 100%;*/
/*	height: 65px;*/
/*	border-bottom: solid #F0F0F0 3px;*/
/*	background-color: #FFFFFF;*/
/*	z-index: 500;*/
/*}*/

/*.main-header > div{*/
/*	height: 65px;*/
/*}*/

/*.menu-header{*/
/*	position: relative;*/
/*	display: flex;*/
/*	width: 238px ;*/
/*	border: solid #F0F0F0 2px;*/
/*}*/

/*.menu-header div{*/
/*	position: relative;*/
/*	display: flex;*/
/*	width: 169px;*/
/*	height: 100%;*/
/*	border-left: solid #F0F0F0 1px;*/
/*	align-items: center;*/
/*}*/

/*.menu-header a{*/
/*	width: 100%;*/
/*	font-size: 15px;*/
/*	text-transform: uppercase;*/
/*	text-decoration: none;*/
/*	text-align: center;*/
/*	color: #000000;*/
/*}*/

/*.subs-header{*/
/*	position: relative;*/
/*	display: flex;*/
/*	height: 65px;*/
/*	align-items: center;*/
/*	padding-right: 4%;*/
/*	padding-left: 4%;*/
/*	border: solid #F0F0F0 2px;*/
/*}*/

/*.subs-header a{*/
/*	color: #1268FB;*/
/*	font-size: 15px;*/
/*	font-weight: bold;*/
/*	text-transform: uppercase;*/
/*	text-decoration: none;*/
/*	text-align: center;*/
/*}*/

/*.search-field{*/
/*	position: relative;*/
/*	width: 40%;*/
/*}*/

/*.search-field form {*/
/*	width: 100%;*/
/*	position: absolute;*/
/*	border: solid #F0F0F0 1px;*/
/*	height: 64px;*/
/*}*/

/*.search-field input {*/
/*	position: absolute;*/
/*	border: 2px solid #1268FB;*/
/*	padding-left: 10px;*/
/*	height: 62px;*/
/*	left: 0;*/
/*	right: 62px;*/
/*	outline: none;*/
/*	background: #FFFFFF;*/
/*	color: #9E9C9C;*/
/*}*/

/*.search-field button {*/
/*	position: absolute;*/
/*    top: 0;*/
/*    right: 0;*/
/*    width: 62px;*/
/*    height: 62px;*/
/*    border: none;*/
/*    background: #1268FB;*/
/*    cursor: pointer;*/
/*}*/

/*.search-field button:before {*/
/*    content: "\f002";*/
/*    font-family: FontAwesome;*/
/*    font-size: 16px;*/
/*    color: #FFFFFF;*/
/*}*/

/*.login-block {*/
/*	position: relative;*/
/*	display: flex;*/
/*	margin-right: 75px;*/
/*	flex: 1;*/
/*	border: solid #F0F0F0 2px;*/
/*}*/

/*.login-block div{*/
/*	position: relative;*/
/*	display: flex;*/
/*	flex: 1;*/
/*	height: 100%;*/
/*	border-left: solid #F0F0F0 1px;*/
/*	align-items: center;*/
/*}*/

/*.login-block a{*/
/*	width: 100%;*/
/*	font-size: 15px;*/
/*	text-transform: uppercase;*/
/*	text-decoration: none;*/
/*	text-align: center;*/
/*	color: #000000;*/
/*}*/

/*.login-block p{*/
/*	width: 100%;*/
/*	font-size: 15px;*/
/*	text-transform: uppercase;*/
/*	text-decoration: none;*/
/*	text-align: center;*/
/*	color: #000000;*/
/*	margin: 0;*/
/*}*/

/*НИЖНЕЕ МЕНЮ*/
.bottom-menu{
	position: relative;
	display: flex;
	bottom: 0;
	height: 200px;
	margin-left: 75px;
	border-top: solid #F0F0F0 3px;
	align-items: center;
}

/*.bottom-menu-reg{*/
/*	position: fixed;*/
/*	width: 100%;*/
/*	display: flex;*/
/*	bottom: 0;*/
/*	height: 200px;*/
/*	margin-left: 75px;*/
/*	border-top: solid #F0F0F0 3px;*/
/*	align-items: center;*/
/*}*/

.bottom-menu-reg ul{
	margin-left: 50px;
	list-style: none;
}

.bottom-menu-reg li a{
	/*text-decoration: none;*/
	color: #9E9C9C;
}

.bottom-menu-reg img{
	vertical-align: center;
	width: 80px;
	height: 80px;
	opacity: 50%;
	margin-right: 75px;
}

.konf{
	color: #1268FB;
	text-decoration: none;
}

.bottom-logo{
	position: absolute;
	display: flex;
	right: 50px;
	height: 100%;
	align-items: center;

}


/*ТЕЛО САЙТА*/
.page-body{
	margin-right: auto;
	margin-left: auto;
	position: relative;
	align-items: center;
	width: 1300px;
	margin-top: 200px;
	padding-bottom: 100px;
}

/*СТРАНИЦА С НОВОСТЯМИ*/
/*ПОСЛЕДНИЕ НОВОСТИ*/
.latest-news{
	position: relative;
}

.page-body h2{
	text-transform: uppercase;
	text-decoration: none;
	font-size: 70px;
	font-style: normal;
	text-align: center;
}

.latest-2-news{
	margin-top: 40px;
	position: relative;
	display: flex;
	padding: 0;
	list-style: none;
	width: 100%;
}

.latest-1{
	width: 59%;
	padding-right: 1%;
}

.latest-2{
	margin-bottom: 0;
	width: 40%;
}
.latest-2-news img{
	width: 100%;
}

.latest-2-news a{
	text-decoration: none;
	color: #000000;
	font-size: 25px;
}

/*ПОПУЛЯРНЫЕ НОВОСТИ*/
.popular-posts{
	margin-top: 50px;
	position: relative;
	display: flex;
	background-color: #FFFFFF;
	height: 300px;
	border: solid #F0F0F0 2px;
}

.slider {
	margin: 30px;
}

.pop-post{
	position: relative;
	display: none;
}

.pop-post.active{
	position: relative;
	display: flex;
}

.post-left{
	height: 240px;
}

.post-right{
	margin-left: 30px;
}

.pop-post-img{
	margin: auto;
}

.pop-post-img img{
	height: 100%;
	width: auto;
}

.pop-post-title{
	position: relative;
	display: block;
	text-decoration: none;
	color: #000000;
	font-size: 30px;
}

.pop-post-date{
	align-items: center;
	display: flex;
	font-size: 13px;
	font-weight: bold;
	color: #1268FB;
}

.calendar-icon{
	font-size: 20px;
}

.pop-post-text{
	font-size: 17px;
	color: #8E8E8E;
}

.slider .prev, .slider .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    transition: 0.1s ease;
    border-radius: 0 3px 3px 0;
}
.slider .next {
    right: -60px;
    border-radius: 3px 0 0 3px;
}
.slider .prev {
    left: -60px;
	rotate: 180deg;
}

.slider .next:hover {
	transform: scale(1.3);
}
.slider .prev:hover {
	transform: scale(1.3);
}

.slider .pop-post {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: 0.4
    }
    to {
        opacity: 1
    }
}

/*ГЛАВНОЕ*/
/*ГЛАВНЫЙ ПОСТ*/
.main-post{
	margin-top: 50px;
	position: relative;
	display: flex;
	background-color: #000000;
	min-height: 300px;
	height: auto;
}

.main-post-right{
	position: absolute;
	right: 0;
	width: 40%;
	height: 100%;
}

.main-post-right img{
	height: 100%;
	width: 100%;
}

.main-post-left{
	position: relative;
	padding-left: 10%;
	padding-right: 10%;
	margin-top: auto;
	margin-bottom: auto;
	width: 60%;
}

.cat-and-next {
	display: flex;
	justify-content: space-between;
}

.main-post-left span a{
	text-decoration: none;
}

.main-post-category, .main-post-category:hover{
	font-size: 15px;
	color: #1268FB;
	border: #1268FB solid 2px;
	padding: 10px;
	border-radius: 30px;
}

.main-post-title, .main-post-title:hover{
	font-size: 40px;
	color: #FFFFFF;
}

.main-post-text{
	font-size: 15px;
	color: #8E8E8E;
}

.main-post-read, .main-post-read:hover{
	display: flex;
	align-items: center;
	font-size: 20px;
	text-transform: uppercase;
	color: #1268FB;
}

/*3 ГЛАВНЫХ ПОСТА*/
.main-3-posts{
	position: relative;
	display: flex;
	height: auto;
	justify-content: space-between;
}

.main-3-posts > div{
	position: relative;
	width: 33%;
}

.main-3-posts img{
	width: 100%;
	height: auto;
}

.title-3-posts, .title-3-posts:hover {
	text-decoration: none;
	color: #000000;
	font-size: 20px;
	font-weight: bold;
}

.category-3-posts, .category-3-posts:hover{
	color: #1268FB;
	text-decoration: none;
	border: #1268FB solid 2px;
	padding: 10px;
	border-radius: 30px;
}

.main-3-posts p{
	color: #8E8E8E;
	font-size: 15px;
}

.read-3-posts, .read-3-posts:hover{
	font-size: 20px;
	text-transform: uppercase;
	color: #1268FB;
}

.main-3-posts a{
	text-decoration: none;
}

.read-3-posts{
	align-items: center;
	display: flex;
}

.arrow-right{
	font-size: 45px;
}
/*.read-3-posts span{*/
/*	width: 30px;*/
/*	height: 30px;*/
/*}*/

/*ГЛАВНЫЙ ПЯТЫЙ*/
.main-post-5{
	position: relative;
	display: flex;
	width: 100%;
	height: auto;
	margin-top: 100px;
}

.main-post-5-left{
	height: 100%;
	width: 60%;
}

.main-post-5-right{
	height: 100%;
	width: 40%;
}

.main-post-5 a{
	text-decoration: none;
}

.main-post-5-title, .main-post-5-title:hover{
	font-size: 30px;
	text-transform: uppercase;
	color: #000000;
}

.main-post-5 p{
	color: #8E8E8E;
}

.main-post-5-right img{
	position: absolute;
	right: 0;
	height: 100%;
	width: auto;
}

/*КАРУСЕЛЬ КАТЕГОРИЙ*/
.categories{
	position: relative;
	margin-top: 100px;
	width: 100%;
	height: 300px;
	margin-bottom: 150px;
}

.categories h3{
	text-align: center;
	text-transform: uppercase;
	font-size: 30px;
}

.flickity-viewport{
	height: 300px;
	padding-left: 50px;
	padding-right: 50px;
}

.gallery-cell {
    width: 32%;
	height: 100%;
    margin-left: 10px;
	margin-right: 10px;
	border: #1268FB solid 2px;
	align-items: center;
}

.flickity-viewport button{
	color: #1268FB;
}

.gallery-cell a{
	display: block;
	width: 100%;
	height: 100%;
	background-color: #FFFFFF;
	color: #000000;
	text-transform: uppercase;
	font-size: 20px;
	text-decoration: none;
	transition: 0.2s linear
}

.gallery-cell a:hover{
	background-color: #1268FB;
	color: #FFFFFF;
}

.gallery-cell span{
	margin-left: 50px;
}

/*ПОДПИСКА НА НОВОСТИ*/
.subs-mail{
	position: relative;
	display: flex;
	width: 100%;
}

.subs-mail-title{
	width: 40%;
}

.subs-mail-title h3{
	text-transform: uppercase;
	font-size: 35px;
}

.subs-mail-form{
	margin-top: auto;
	margin-bottom: auto;
	width: 60%;
}

.subs-mail-form form input{
	width: 70%;
	height: 48px;
	padding: 10px;
	border: 0;
	box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
}

.subs-mail-form form input:focus{
	outline: none;
	border: #1268FB solid 2px;
	border-radius: 5px;
}

.subs-mail-form form button{
	position: absolute;
	right: 0;
	width: 230px;
	border: #1268FB solid 2px;
	padding: 10px;
	border-radius: 5px;
	text-transform: uppercase;
	color: #1268FB;
	background-color: #FFFFFF;
}

/*КАТЕГОРИИ НОВОСТЕЙ*/
.ladder-category{
	position: relative;
	width: 100%;
}

.nav-str {
	position: absolute;
	display: flex;
	margin-left: 5px;
}

.nav-str > span{
	margin-left: 5px;
	margin-right: 5px;
}

.nav-str > a{
	text-decoration: none;
	color: #000000;
}

.nav-str > p{
	text-decoration: none;
	color: #8E8E8E;
}

.ladder-category > h2{
	padding-top: 10px;
	text-align: left;
}


.cat-posts{
	position: relative;
	margin-top: 60px;
	border-bottom: #F0F0F0 solid 2px;

}

.post-pict{
	position: relative;
	display: flex;
	width: 100%;
	height: 400px;
	justify-content: center;
}

.cat-posts > img{
	height: 100%;
	width: auto;
	horiz-align: center;
}

.ladder-category > ul{
	list-style: none;
	padding: 0;
}

.post-title {
	text-decoration: none;
	color: #000000;
	font-size: 40px;
	line-height: 1;
}


.cat-posts span{
	font-size: 15px;
}

/*ПАГИНАТОР */
.paginator{
	width: 100%;
	height: 30px;

}

.pag-btns{
	height: 100%;
	display: flex;
	margin: auto;
	align-items: center;
}

.page-num-selected {
	color: #FFFFFF;
	background-color: #1268FB;
	font-size: 18px;
	min-width: 30px;
	height: 30px;
	text-align: center;
	padding-top: 1px;
}

.pag-btns a {
	color: #000000;
	text-decoration: none;
	font-size: 18px;
}

.pag-btns span ul {
	display: flex;
	list-style: none;
	margin: auto;
	padding: 0;
}

.pag-btns span ul li {
	min-width: 30px;
	height: 30px;
	text-align: center;
	vertical-align: center;
	border: #F0F0F0 solid 2px;
	margin-left: 2px;
	margin-right: 2px;
}

.gl-title {
	transition: all 0.3s ease 0s;
}

.gl-title:hover {
	color: #1268FB;
}

/*БЛОК С ПОСТОМ*/
.post-way {
	width: 100%;
}

.post-way a {
	text-decoration: none;
	color: #000000;
}

.post-way h2{
	font-size: 40px;
}

.post-active {
	color: #8E8E8E;
}

.post-img {
	display: flex;
	justify-content: center;
}

/*РЕГИСТРАЦИЯ И ЛОГИН*/
.login-form {
	display: flex;
	align-items: center;
	justify-content: center;
}

.login-form div{
	width: auto;
}

.login-form form {
	width: auto;
}

.login-form form table tr{
	display: flex;
	justify-content: space-between;
}

.login-form form table tr td {
	padding: 5px;
}

.login-form-table td td input {
	width: 300px;
}

/*.login-form-right {*/
/*	right: 0;*/
/*}*/

.reg-body {

}
